.header::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -2;
  background: url(../../../assets/background.jpg) no-repeat center;
  background-size: cover;
}

.header {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left .heading {
  font-weight: bold;
  color: #63b2ff;
  font-size: 4rem;
  background: -webkit-linear-gradient(#424242, #63b2ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left .subHeading {
  font-weight: 550;
  font-size: 2.5rem;
  line-height: 2.9rem;
  color: #424242;
}

.left .subHeading .subText {
  color: #63b2ff;
}

.left .subDescription {
  font-weight: 550;
  font-size: 1.5rem;
  line-height: 2.9rem;
  color: #424242;
}

.left button {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #63b2ff;
  color: #fff;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 550;
  border-radius: 25px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.left button:hover {
  transform: scale(1.1);
}

.left button:active {
  transform: translateY(1px);
}

.right {
  max-width: 60%;
}

.right img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (max-width: 845px) {
  .header {
    flex-direction: column-reverse;
  }
  .left {
    gap: 15px;
    align-items: center;
    text-align: center;
  }
  .right {
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .left {
    gap: 5px;
  }
}
