* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body {
  scroll-behavior: smooth;
}

@media (max-width: 876px) {
  html {
    font-size: smaller;
  }
}

@media (max-width: 576px) {
  html {
    font-size: x-small;
  }
}
