/* .container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #63b2ff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #60aefb;
}

.container {
  background: #fff;
  margin: 0 auto;
  display: flex;
  padding: 30px 70px;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}

.commanImage {
  display: flex;
  justify-content: center;
}

.formImage {
  width: auto;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.smallLink {
  position: absolute;
  left: 0%;
  top: -27px;
}

.smallLink a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.smallLink:hover a {
  color: #424242;
}

.form .heading {
  font-weight: bold;
  font-size: 1.6rem;
  color: #424242;
  text-align: center;
}

.form .heading .subHeading {
  margin-top: 8px;
  color: gray;
  font-size: 0.8rem;
}

.form .resetPassword {
  /* color: #424242; */
  color: #f12929;
  cursor: pointer;
  margin: 0 auto;
}

.form .submitbutton {
  border: none;
  outline: none;
  padding: 9px 16px;
  background-color: #60aefb;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 550;
  cursor: pointer;
  transition: 200ms;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.form .submitbutton:hover {
  scale: 1.01;
}

.form .submitbutton:active {
  transform: translateY(1px);
}

.form .submitbutton:disabled {
  background-color: gray !important;
}

.form .error {
  font-size: 0.875rem;
  font-weight: bold;
  color: #f12929;
  width: 100%;
  text-align: center;
}

.form .bottom p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #424242;
}

.bottom p a {
  color: #60aefb;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 830px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
  }
  .form {
    gap: 10px;
  }
  .formImage {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 390px) {
  .form input {
    padding: 10px 14px;
  }
  .eyeIcon,
  .eyeOffIcon,
  .user,
  .key,
  .mail {
    width: 15px;
  }
  .formImage {
    width: 65%;
    height: 65%;
  }
}
